<div class="modal-header">
            <h3 class="modal-title">Select a color palette</h3>
        </div>
        <div class="modal-body">
        <div class='form-group'>
        <div class='row'>
        <div class='col-sm-4 colorBox' ng-repeat="color in colors">
        <a class='mdi mdi-brightness-1' href='' ng-style="{'color': color.panelbackground}" title={{color.name}} 
        ng-click='colorSectedDialgue(color)' value={{color.name}}></a>
        
            
        </div>
            
        </div>
          
        </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="closeDialog()">Close</button>
        </div>