<h1>
  {{model.title}}
  <span style="font-size: 16px" class="pull-right">
    <a href="" ng-if="editMode" title="{{ translate('ADF_DASHBOARD_TITLE_TOOLTIP_ADD') }}" ng-click="addWidgetDialog()">
      <i class="mdi mdi-plus-circle mdi-24px"></i>
    </a>
    <a href="" ng-if="editMode" title="{{ translate('ADF_COMMON_EDIT_DASHBOARD') }}" ng-click="editDashboardDialog()">
      <i class="mdi mdi-view-dashboard mdi-24px"></i>
    </a>
    <a href="" ng-if="options.editable" title="{{editMode ? translate('ADF_DASHBOARD_TITLE_TOOLTIP_SAVE') : translate('ADF_DASHBOARD_TITLE_TOOLTIP_EDIT_MODE') }}" ng-click="toggleEditMode()">
      <i class="glyphicon" x-ng-class="{'mdi mdi-settings mdi-24px' : !editMode, 'mdi mdi-content-save mdi-24px' : editMode}"></i>
    </a>
    <a href="" ng-if="editMode" title="{{ translate('ADF_DASHBOARD_TITLE_TOOLTIP_UNDO') }}" ng-click="cancelEditMode()">
      <i class="mdi mdi-undo-variant mdi-24px adf-flip"></i>
    </a>
    <a href="" ng-if="editMode" title="Change Theme" ng-click="">
      <i class="mdi mdi-invert-colors mdi-24px"></i>
    </a>
     <a ngsf-toggle-fullscreen show-if-fullscreen-enabled >
       <i show-if-fullscreen=false class="mdi mdi-fullscreen mdi-24px" title='fullscreen'></i>
        <i show-if-fullscreen=true class="mdi mdi-fullscreen-exit mdi-24px" title='exit full screen'></i>
    </a>
  </span>
</h1>
