<div class="modal-header">
            <h3 class="modal-title">Select Color</h3>
        </div>
        <div class="modal-body">
        <div class='form-group'>
        <div class='row'>
        <div class='col-sm-4 colorBox' ng-repeat="color in colors">
        <label>
        <input type="radio" ng-click='colorchnageDialogue()' ng-value='color.name' model='color.model' class="radio">
            {{color.name}}
        </label>
            
        </div>
            
        </div>
          
        </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="closeDialog()">Cancel</button>
        </div>