  <uib-tabset active="active">
    <uib-tab index="0" heading="Add URL">
    <form role="form">
    <div class="form-group">
        <label for="path">Google Spreadsheet URL</label>
        <input type="text" class="form-control" id="path" ng-model="config.path" placeholder="Enter URL">
        </div>
        </form>

    </div>
    </uib-tab>
    
    <uib-tab index="1" heading="Customize">
        <form role="form">
    <div class="form-group">
        <label> Enable Legend</label>
        <input type="checkbox" id="path" ng-model="config.legend">
        <br>
        <label> Enable X-axis</label>
        <input type="checkbox" id="path" ng-model="config.xAxisLabels">
    </div>
        <div class="form-group">
        <h3>Arrange Values</h3>
        <br>
        <label>Ascending</label>
        <input type="checkbox" id="path" ng-model="config.ascending">
        <br>
        <label>Descending</label>
        <input type="checkbox"  id="path" ng-model="config.descending">

    </div>
    <div class="form-group">
        <h3>Add a plot line</h3>
        <br>
        <label>Value</label>
        <input type="number" id="path" ng-model="config.plotLineValue" placeholder='enter number'>
        <br>
        <label>Text</label>
        <input type="text" id="path" ng-model="config.plotLineLabel" placeholder='Enter Label'>

    </div>
</form>
<h3>Change Color</h3>
<input colorpicker type="text" id="path" ng-model="config.seriesColor" placeholder='enter color'>
<br>
    </uib-tab>

    <uib-tab index="2" heading="Create Triggers">
    <h3></h3>
<div  class="padding-bottom">
<label>Give color</label>
<input colorpicker type="text" id="path" ng-model="config.color" placeholder='enter color'>
<label>to values up to</label>
<input type="number" id="path" ng-model="config.colorupto" placeholder='enter value'>   
</div>
 <button type="button" class="btn btn-primary" ng-click="config.addNewZone()">
    <i class="fa fa-plus"></i> Add New Trigger
  </button>
    </uib-tab>
  </uib-tabset>



