  <uib-tabset active="active">
    <uib-tab index="0" heading="Add URL">
    <form role="form">
    <div class="form-group">
        <label for="path">Google Spreadsheet URL</label>
        <input type="text" class="form-control" id="path" ng-model="config.path" placeholder="Enter URL">
        </div>
        </form>

    </div>
    </uib-tab>
    
    <uib-tab index="1" heading="Customize">
        <form role="form">
    <div class="form-group">
    <label> Fill</label>
        <input type="checkbox" id="path" ng-model="config.fill">
        <br>
        <label> Enable Legend</label>
        <input type="checkbox" id="path" ng-model="config.legend">
        <br>
        <label> Enable X-axis</label>
        <input type="checkbox" id="path" ng-model="config.xAxisLabels">
        <br>
        <label> Enable Y-axis</label>
        <input type="checkbox" id="path" ng-model="config.yAxisLabels">
        <br>
        <label> Enable Data Labels</label>
        <input type="checkbox" id="path" ng-model="config.dataLabels">
    </div>
</form>
<h3>Change Color</h3>
<input colorpicker type="text" id="path" ng-model="config.seriesColor" placeholder='enter color'>
<br>
    </uib-tab>

    <uib-tab index="2" heading="Create Triggers">
    <h3></h3>
<div  class="padding-bottom">
<label>Change line style to</label>
<select id="path" ng-model="config.lineStyle" ng-options="dash for dash in config.dashStyles"></select>
<label>for values greater than</label>
<input type="number" id="path" ng-model="config.colorupto" placeholder='enter value'>   
</div>
    </uib-tab>
  </uib-tabset>



